<!--aggiungere o modificare eventyali link-->

    <div class="supports">
        <br><br><br>
        <h1>About us</h1>
        <p>Vieni a scoprire i migliori piatti della tradizione catanzarese e non solo<br>
            Prenota subito il tuo tavolo o ordina d'asporto.<br>
            Offriamo pagamenti sicuri tramite bonifico bancario o PayPal.<br>
        </p>
        <br>
        <p>Se hai domande o se hai bisogno di assistenza, non esitare a contattarci!<br>
            Mail: LaTurra@esempio.it<br>
            Telefono: +39 123456789</p>
        <br>
        <br>
    </div>
    <img class="immagine" src="assets/immagini/penneAlPomodoro.webp" alt="About Us" style="width:30%">
       
   

