<div class="ricerca">


    <div class="container_1">
        <div class="search_box">
            <input style="font-size: 20px;" #nomePiatto type="text" class="input_search"
                placeholder="Inserisci il nome del piatto...">
        </div>
    </div>



    <div class="container_2">
        <div class="search_box_ingredienti">
            <input style="font-size: 20px;" #ingredienti type="text" class="input_search"
                placeholder="Inserisci gli ingredienti...">
        </div>
    </div>


    <div class="categorie">

        <label class="rad-label">
        <div class="rad-text"></div>
        </label>
        
        <label class="rad-label">
        <div class="rad-text"></div>
        </label>
        <label class="rad-label">
            <input type="radio" class="rad-input" name="rad" [(ngModel)]="categoria" value="Tutte">
            <div class="rad-design"></div>
            <div class="rad-text">Tutte</div>
        </label>

        <label class="rad-label">
            <input type="radio" class="rad-input" name="rad" [(ngModel)]="categoria"  value="Pittura">
            <div class="rad-design"></div>
            <div class="rad-text">Primo</div>
        </label>

        <label class="rad-label">
            <input type="radio" class="rad-input" name="rad" [(ngModel)]="categoria"  value="Scultura">
            <div class="rad-design"></div>
            <div class="rad-text">Secondo</div>
        </label>

    </div>
    <button class="btn_cerca" (click)="cerca(nomePiatto.value, ingredienti.value)">Cerca</button>
</div>

<div class="risultato">

<ul *ngFor="let i of risultato" list-style-type="none">
    <li>
        <div id="container">
            <div class="product-details">

                <h1>{{i.nomePiatto}}</h1>

                <p class="information">{{i.ingredienti}}</p>



                <div class="control">

                    <button (click)="aggiungiAlCarrello(i.nomePiatto, num[risultato.indexOf(i)])" class="btn">
                        <span class="price">{{i.prezzo}} €</span>
                        <span class="buy">Aggiungi al carrello</span>
                    </button>
                    <br>
                    <div class="plus-min">
                        <button class="plus" (click)="aumenta(i)">
                            +
                        </button>
                        <p clas="numero"><b style="color: black; position: relative; top:35px">{{num[risultato.indexOf(i)]}}</b></p>
                        <button class="minus" (click)="diminuisci(i)">
                            -
                        </button>
                    </div>
                </div>

            </div>

            <div class="product-image">
                <div class="info">
                    <h2> Descrizione</h2>
                    <ul class="informazioni" style="position: relative; left: 30px">
                        <li><strong>NomePiatto: </strong>{{i.nomePiatto}} </li>
                        <li><strong>Quantità:</strong>{{i.quantita}} </li>
                    </ul>
                </div>
            </div>

        </div>




    </li>
</ul>

</div>